* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header {
    border: 2px solid crimson;
    background-color: #08090A;
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border: none;
}


.logo {
    border: 2px solid orange;
    width: 100px;
    border: none;
}

.nav_link {
    border: 2px solid purple;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: none;
}

.left-side {
    border: 2px solid green;
    display: flex;
    align-items: center;
    border: none;
}

.right-side {
    border: 2px solid violet;
    display: flex;
    align-items: center;
    gap: 2em;
    border: none;
}

.menu-list {
    border: 2px solid red;
    display: flex;
    gap: 2em;
    font-size: 13px;
    font-weight: 510;
    border: none;
}

.menu-list li a {
    border: 2px solid white;
    color: #8A8F98;
    border: none;
}

li a:hover {
    color: #F7F8F8;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 8px;
    align-items: center;
    background-color: #1C1D1D;
    border: none;
}

.btn-icon {
    border: 2px solid pink;
    display: flex;
    gap: 2em;
    align-items: center;
    border: none;
}

.loginbtn {
    border: 2px solid green;
    padding: 4px;
    background-color: #08090A;
    text-align: center;
    border: none;
    font-size: 13px;
    font-weight: 510;
    font-family: "Inter Variable", sans-serif
}

.loginbtn a {
    color: #8A8F98;
}

.loginbtn:hover {
    color: #F7F8F8;
    background-color: #1A1B1B;
    border: 2px solid grey;
    border: none;
    border-radius: 6px;
    padding: 8px;
}

.signupbtn {
    border: 2px solid green;
    padding: 10px;
    text-align: center;
    background-color: #E6E6E6;
    border-radius: 6px;
    border: none;
    font-size: 13px;
    font-weight: 510;
    font-family: "Inter Variable", sans-serif
}

.signupbtn a {
    color: #08090A;
}

.signupbtn:hover {
    background-color: white;
}

.fa-bars {
    border: 2px solid crimson;
    color: white;
    display: none;
    border: none;
}
hr.full-line {
    width: 100%;
    border: none;
    margin: 0;
    height: 1px;
    background-color: #1D1E1E;
}

.hero-sect {
    background-color: #08090A;
   
    
}
.how{
    border: 2px solid blue;
    padding: 20px;
    border: none;
}
.how h2{
    border: 2px solid lightcoral;
    color: #F7F8F8;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 64px;
    font-weight: 510;
    text-align: center;
    border: none;
}
.how p{
    border: 2px solid pink;
    color: #8A8F98;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    border: none;
}
.wrapper{
    border: 2px solid green;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border: none;
}
.leftside{
    border: 2px solid cyan;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    padding: 40px;
    background-color: #101112;
    border: none;
}
.lefticon{
    border: 2px solid red;
    display: flex;
    gap: .5em;
    align-items: center;
    border: none;
}
.fa-envelope{
    color: white;
}
.lefticon p{
    color: white;
}
.lefttext{
    border: 2px solid pink;
    margin-top: 20px;
    border: none;
}
.lefttext p{
    color: #F7F8F8;
}
.leftside .talk {
    border: 2px solid chartreuse;
    margin-top: 30px;
    background-color: #28282C;
    border-radius: 5px;
    padding: 6px;
    border: none;
}
.leftside .talk a{
    color: #F7F8F8;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 510;
    font-size: 13px;
}
.talk:hover{
    background-color: #323237;
}
.rightside{
    border: 2px solid cyan;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    padding: 40px;
    background-color: #101112;
    border: none;
}
.righticon{
    border: 2px solid red;
    display: flex;
    gap: .5em;
    align-items: center;
    border: none;
}
.fa-message{
    color: white;
}
.righticon p{
    color: white;
}
.righttext{
    border: 2px solid pink;
    margin-top: 20px;
    border: none;
}
.righttext p{
    color: #F7F8F8;
}
.rightside .contact {
    border: 2px solid chartreuse;
    margin-top: 30px;
    background-color: #28282C;
    border-radius: 5px;
    padding: 6px;
    border: none;
}
.rightside .contact a{
    color: #F7F8F8;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 510;
    font-size: 13px;
}
.contact:hover{
    background-color: #323237;
}
.secondwrapper{
    border: 2px solid green;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border: none;
}
.wrapperleftside{
    border: 2px solid cyan;
    padding: 40px;
    border: none;
}
.wrapperleftside h4{
    border: 2px solid brown;
    color: #F7F8F8;
    font-size: 17px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 510;
    border: none;

}
.wrapperleftside p{
    border: 2px solid indigo;
    margin-top: 10px;
    color: #8A8F98;
    font-size: 15px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    border: none;
}
.join{
    border: 2px solid maroon;
    margin-top: 10px;
    display: flex;
    border: none;
}
.join a p{
    color: white;
}
.jointext:hover{
    color: #8A8F98;
}
.wrapperrightside{
    border: 2px solid cyan;
    padding: 40px;
    border: none;
}
.wrapperrightside h4{
    border: 2px solid brown;
    color: #F7F8F8;
    font-size: 17px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 510;
    border: none;

}
.wrapperrightside p{
    border: 2px solid indigo;
    margin-top: 10px;
    color: #8A8F98;
    font-size: 15px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    border: none;
}
.hello a{
    border: 2px solid maroon;
    margin-top: 10px;
    display: flex;
    gap: .5em;
    border: none;
}
.hello .fa-envelope{
    border: 2px solid gold;
    margin-top: 7px;
    border: none;
}
.hello .hellotext{
    margin-top: 5px;
    color: white;
}
.hello a :hover{
    color: #8A8F98;
}

.thirdwrapper{
    border: 2px solid green;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border: none;
}
.thirdleftside{
    border: 2px solid cyan;
    padding: 40px;
    border: none;
}
.thirdleftside h4{
    border: 2px solid brown;
    color: #F7F8F8;
    font-size: 17px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 510;
    border: none;

}
.thirdleftside p{
    border: 2px solid indigo;
    margin-top: 10px;
    color: #8A8F98;
    font-size: 15px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    border: none;
}
.docs{
    border: 2px solid maroon;
    margin-top: 10px;
    display: flex;
    border: none;
}
.docs a p{
    color: white;
}
.doctext:hover{
    color: #8A8F98;
}
.fourthrightside{
    border: 2px solid cyan;
    padding: 40px;
    border: none;
}
.fourthrightside h4{
    border: 2px solid brown;
    color: #F7F8F8;
    font-size: 17px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 510;
    border: none;

}
.fourthrightside p{
    border: 2px solid indigo;
    margin-top: 10px;
    color: #8A8F98;
    font-size: 15px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    border: none;
}
.api{
    border: 2px solid maroon;
    margin-top: 10px;
    display: flex;
    border: none;
}
.api a p{
    color: white;
}
.apitext:hover{
    color: #8A8F98;
}

.allright{
    border: 2px solid crimson;
    align-items: center;
    margin: auto;
    width: 90%;
    display: flex;
    border: none;
    
}
.all{
    display: flex;
    margin: auto;
    padding: 40px;
    gap: .5em;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 510;
    font-size: 13px;
    color: #828FFF;

}

hr.footerline {
  width: 100%;
  border: none;
  border-top: 0.1px solid #28282C; 
  margin-bottom: 0;
  
}

.footer {
  border: 2px solid aqua;
  background-color: #08090A;
  padding: 60px;
  margin-top: 0;
  border: none;
}

.footercontainer {
  border: 2px solid lawngreen;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  display: flex;
  width: 90%;
  border: none;
}

.footerlogo a .lg {
  width: 20px;
  object-fit: contain;
  opacity: 0.9;
}

.footerlinks {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.firstcolumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.firstcolumn h4 {
  color: #fff;
  font-weight: 510;
  font-size: 13px;
  margin-bottom: 20px;
  font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 19.5px;
  font-style: normal;
}

.firstcolumn a {
  color: #a8a8a8;
  font-size: 13px;
  transition: color 0.2s ease;
  line-height: 19.5px;
  font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.firstcolumn a:hover {
  color: #fff;
}

.secondcolumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.secondcolumn h4 {
  color: #fff;
  font-weight: 510;
  font-size: 13px;
  margin-bottom: 20px;
  font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 19.5px;
  font-style: normal;
}

.secondcolumn a {
  color: #a8a8a8;
  font-size: 13px;
  transition: color 0.2s ease;
  line-height: 19.5px;
  font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.secondcolumn a:hover {
  color: #fff;
}

.thirdcolumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.thirdcolumn h4 {
  color: #fff;
  font-weight: 510;
  font-size: 13px;
  margin-bottom: 20px;
  font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 19.5px;
  font-style: normal;
}

.thirdcolumn a {
  color: #a8a8a8;
  font-size: 13px;
  transition: color 0.2s ease;
  line-height: 19.5px;
  font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.thirdcolumn a:hover {
  color: #fff;
}

.fourthcolumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fourthcolumn h4 {
  color: #fff;
  font-weight: 510;
  font-size: 13px;
  margin-bottom: 20px;
  font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 19.5px;
  font-style: normal;
}

.fourthcolumn a {
  color: #a8a8a8;
  font-size: 13px;
  transition: color 0.2s ease;
  font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 19.5px;
}

.fourthcolumn a:hover {
  color: #fff;
}

.fifthcolumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fifthcolumn h4 {
  color: #fff;
  font-weight: 510;
  font-size: 13px;
  margin-bottom: 20px;
  font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 19.5px;
  font-style: normal;
}

.fifthcolumn a {
  color: #a8a8a8;
  font-size: 13px;
  line-height: 19.5px;
  transition: color 0.2s ease;
  font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;

}

.fifthcolumn a:hover {
  color: #fff;
}



