* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header {
    border: 2px solid crimson;
    background-color: #08090A;
    border: none;
}

.logo {
    border: 2px solid orange;
    width: 100px;
    border: none;
}

.nav_link {
    border: 2px solid purple;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: none;
}

.left-side {
    border: 2px solid green;
    display: flex;
    align-items: center;
    border: none;
}

.right-side {
    border: 2px solid violet;
    display: flex;
    align-items: center;
    gap: 2em;
    border: none;
}

.menu-list {
    border: 2px solid red;
    display: flex;
    gap: 2em;
    font-size: 13px;
    font-weight: 510;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border: none;
}

.menu-list li a {
    border: 2px solid white;
    color: #8A8F98;
    border: none;
}

li a:hover {
    color: #F7F8F8;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 8px;
    align-items: center;
    background-color: #1C1D1D;
    border: none;
}

.btn-icon {
    border: 2px solid pink;
    display: flex;
    gap: 2em;
    align-items: center;
    border: none;
}

.loginbtn {
    border: 2px solid green;
    padding: 4px;
    background-color: #08090A;
    text-align: center;
    border: none;
    font-size: 13px;
    font-weight: 510;
    font-family: "Inter Variable", sans-serif
}

.loginbtn a {
    color: #8A8F98;
}

.loginbtn:hover {
    color: #F7F8F8;
    background-color: #1A1B1B;
    border: 2px solid grey;
    border: none;
    border-radius: 6px;
    padding: 8px;
}

.signupbtn {
    border: 2px solid green;
    padding: 10px;
    text-align: center;
    background-color: #E6E6E6;
    border-radius: 6px;
    border: none;
    font-size: 13px;
    font-weight: 510;
    font-family: "Inter Variable", sans-serif
}

.signupbtn a {
    color: #08090A;
}

.signupbtn:hover {
    background-color: white;
}

.fa-bars {
    border: 2px solid crimson;
    color: white;
    display: none;
    border: none;
}

hr.full-line {
    width: 100%;
    border: none;
    margin: 0;
    border-top: 0.1px solid white;
    color: #1D1E1E;
}

.hero-sect {
    background-color: #08090A;
    /* height: 100vh; */
}

.nowbtn {
    border: 2px solid crimson;
    padding: 40px;
    width: 90%;
    margin: auto;
    border: none;
}

.nowbtn a {
    color: white;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 32px;
    font-weight: 590;
    margin: auto;
}

.now_navlink {
    border: 2px solid orange;
    width: 82%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;

}

.nowmenulist {
    display: flex;
    justify-content: space-around;
    gap: 1em;
}

.nowmenulist li a:hover {
    color: white;
}

.nowmenulist li a {
    color: #898E97;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 15px;
    background: none;
}

.nowright {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search {
    display: flex;
    align-items: center;
    gap: 5em;
    justify-content: center;
    border-radius: 20px;
    background-color: #1C1D1D;
    padding: 5px;
    width: 220px;
    height: 40px;
}

.search a {
    display: flex;
    align-items: center;
    color: #8A8F98;
    font-weight: 400;
    font-size: 14px;
    gap: .5em;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.fa-rss {
    color: #8A8F98;
    align-items: center;
    justify-content: center;
}

.prompt a .fa-rss:hover {
    background-color: #252529;
    border-radius: 5px;
    color: white;
    width: 30px;
    height: 29px;
}

.imagesection {
    border: 2px solid maroon;
    padding: 10px;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.karri a img {
    border: 2px solid forestgreen;
    border-radius: 5px;
    border: none;
    align-items: center;
    margin-top: 30px;
}

.karri a .oct {
    color: #8A8F98;
    padding: 5px;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.karri a h4 {
    color: #F7F8F8;
    font-size: 24px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 510;
    padding: 5px;

}

.karri a .Real {
    color: #8A8F98;
    padding: 5px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.centerpc {
    color: #18191A;
}

hr.vertical {
    width: 1px;
    height: 380px;
    border-top: 0.1px thin #18191A;
    margin-top: 30px;

}

.robb a img {
    border: 2px solid forestgreen;
    border-radius: 5px;
    border: none;
    align-items: center;
}

.robb a .occt {
    color: #8A8F98;
    padding: 5px;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.robb a h4 {
    color: #F7F8F8;
    font-size: 24px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 510;
    padding: 5px;

}

.robb a .rebuilt {
    color: #8A8F98;
    padding: 5px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.anotherimagesection {
    border: 2px solid maroon;
    padding: 10px;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.timi a img {
    border: 2px solid forestgreen;
    border-radius: 5px;
    border: none;
    align-items: center;
    margin-top: 40px;
}

.timi a .tim {
    color: #8A8F98;
    padding: 5px;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.timi a h4 {
    color: #F7F8F8;
    font-size: 24px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 510;
    padding: 5px;

}

.timi a .notall {
    color: #8A8F98;
    padding: 5px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.anothercenterpc {
    color: #18191A;
}

hr.anothervertical {
    width: 1px;
    height: 380px;
    margin-top: 30px;

}

.twoauthors a img {
    border: 2px solid forestgreen;
    border-radius: 5px;
    border: none;
    align-items: center;
    margin-top: 28px;
}

.twoauthors a .twoauth {
    color: #8A8F98;
    padding: 5px;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.twoauthors a h4 {
    color: #F7F8F8;
    font-size: 24px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 510;
    padding: 5px;

}

.twoauthors a .zero {
    color: #8A8F98;
    padding: 5px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

hr.line {
    width: 83%;
    border: none;
    margin: auto;
    border-top: 0.1px solid #1A1B1B;
    color: #1D1E1E;
    padding: 20px;
    margin-top: 50px;
}

.anotherherosect {
    background-color: #08090A;

}

.change {
    border: 2px solid peru;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;
}

.change h5 {
    color: #F7F8F8;
    font-size: 24px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 590;

}

.change a {
    color: #EFF0F1;
    font-size: 15px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.change a:hover {
    color: white;
}

.cards {
    border: 2px solid yellow;
    display: flex;
    gap: 1em;
    justify-items: center;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 10px;

}

.firstcard {
    background-color: #141414;
    border: 1px solid #1f1f1f;
    border-radius: 16px;
    overflow: hidden;
    width: 260px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
.firstcard a .date{
    border: 2px solid crimson;
    color: #989DA7;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    padding: 10px;
    border: none;

}
.agent{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 510;
    padding: 10px;
}
.issues{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #8A8F98;
    font-size: 14px;
    font-weight: 400;
   padding: 10px;
}

.secondcard {
    background-color: #141414;
    border: 1px solid #1f1f1f;
    border-radius: 16px;
    overflow: hidden;
    width: 250px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
.year{
    border: 2px solid crimson;
    color: #989DA7;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    padding: 10px;
    border: none;

}
.mobile{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 510;
    padding: 10px;
}
.ios{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #8A8F98;
    font-size: 14px;
    font-weight: 400;
   padding: 10px;
}
.thirdcard {
    background-color: #141414;
    border: 1px solid #1f1f1f;
    border-radius: 16px;
    overflow: hidden;
    width: 250px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
.oct{
    border: 2px solid crimson;
    color: #989DA7;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    padding: 10px;
    border: none;

}
.label{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 510;
    padding: 10px;
}
.org{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #8A8F98;
    font-size: 14px;
    font-weight: 400;
   padding: 10px;
}

.fourthcard {
    background-color: #141414;
    border: 1px solid #1f1f1f;
    border-radius: 16px;
    overflow: hidden;
    width: 250px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
.fth{
    border: 2px solid crimson;
    color: #989DA7;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    padding: 10px;
    border: none;

}
.dis{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 510;
    padding: 10px;
}
.sum{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #8A8F98;
    font-size: 14px;
    font-weight: 400;
   padding: 10px;
}
hr.secondline{
    width: 83%;
    border: none;
    margin: auto;
    border-top: 0.1px solid #1A1B1B;
    color: #1D1E1E;
    padding: 20px;
    margin-top: 50px;
}

.imagecontainer {
    border: 2px solid maroon;
    padding: 10px;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.kevin a img {
    border: 2px solid forestgreen;
    border-radius: 5px;
    border: none;
    align-items: center;
    margin-top: 40px;
}

.kevin a .kev {
    color: #8A8F98;
    padding: 5px;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.kevin a h4 {
    color: #F7F8F8;
    font-size: 24px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 510;
    padding: 5px;

}

.kevin a .commure {
    color: #8A8F98;
    padding: 5px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.justaline {
    color: #18191A;
}

hr.theline {
    width: 1px;
    height: 380px;
    margin-top: 30px;

}

.prodi a img {
    border: 2px solid forestgreen;
    border-radius: 5px;
    border: none;
    align-items: center;
    margin-top: 28px;
}

.prodi a .pd {
    color: #8A8F98;
    padding: 5px;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.prodi a h4 {
    color: #F7F8F8;
    font-size: 24px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 510;
    padding: 5px;

}

.prodi a .intell {
    color: #8A8F98;
    padding: 5px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.imgcont {
    border: 2px solid maroon;
    padding: 10px;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.saarinen a img {
    border: 2px solid forestgreen;
    border-radius: 5px;
    border: none;
    align-items: center;
    margin-top: 40px;
}

.saarinen a .saa {
    color: #8A8F98;
    padding: 5px;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.saarinen a h4 {
    color: #F7F8F8;
    font-size: 24px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 510;
    padding: 5px;

}

.saarinen a .series {
    color: #8A8F98;
    padding: 5px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.aline {
    color: #18191A;
}

hr.allline {
    width: 1px;
    height: 380px;
    margin-top: 30px;

}

.hart a img {
    border: 2px solid forestgreen;
    border-radius: 5px;
    border: none;
    align-items: center;
    margin-top: 28px;
}

.hart a .ha {
    color: #8A8F98;
    padding: 5px;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.hart a h4 {
    color: #F7F8F8;
    font-size: 24px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 510;
    padding: 5px;

}

.hart a .cur {
    color: #8A8F98;
    padding: 5px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.carda{
    border: 2px solid crimson;
    margin: auto;
    width: 90%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    border: none;
}
.wednesday{
    padding: 10px;
}
.wedimg{
    border: 2px solid #1B1D1E;
    border-radius: 3px;
    padding: 10px;

}
.wedtext{
    color: #8A8F98;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
}
.wednesday h6{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #F7F8F8;
    font-weight: 510;
    font-size: 15px;
    font-style: normal;
    margin-top: 10px;
}
hr.wedline{
    width: 1px;
    height: 230px;
    margin-top: 10px;
}

.api{
    padding: 10px;
}
.apiimg{
    border: 2px solid #1B1D1E;
    border-radius: 3px;
    padding: 10px;

}
.apitext{
    color: #8A8F98;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
}
.api h6{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #F7F8F8;
    font-weight: 510;
    font-size: 15px;
    font-style: normal;
    margin-top: 10px;
}
hr.apiline{
    width: 1px;
    height: 230px;
    margin-top: 10px;
}

.mecur{
    padding: 10px;
}
.mecurimg{
    border: 2px solid #1B1D1E;
    border-radius: 3px;
    padding: 10px;

}
.mecurtext{
    color: #8A8F98;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
}
.mecur h6{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #F7F8F8;
    font-weight: 510;
    font-size: 15px;
    font-style: normal;
    margin-top: 10px;
}
hr.apiline{
    width: 1px;
    height: 230px;
    margin-top: 10px;
}


.cardb{
    border: 2px solid crimson;
    margin: auto;
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    border: none;
}
.karisa{
    padding: 10px;
}
.karisaimg{
    border: 2px solid #1B1D1E;
    border-radius: 3px;
    padding: 10px;

}
.karisatext{
    color: #8A8F98;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
}
.karisa h6{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #F7F8F8;
    font-weight: 510;
    font-size: 15px;
    font-style: normal;
    margin-top: 10px;
}
hr.kariline{
    width: 1px;
    height: 230px;
    margin-top: 10px;
}

.krisa{
    padding: 10px;
}
.krisaimg{
    border: 2px solid #1B1D1E;
    border-radius: 3px;
    padding: 10px;

}
.krisatext{
    color: #8A8F98;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
}
.krisa h6{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #F7F8F8;
    font-weight: 510;
    font-size: 15px;
    font-style: normal;
    margin-top: 10px;
}
hr.krisaline{
    width: 1px;
    height: 230px;
    margin-top: 10px;
}

.krsa{
    padding: 10px;
}
.krsaimg{
    border: 2px solid #1B1D1E;
    border-radius: 3px;
    padding: 10px;

}
.krsatext{
    color: #8A8F98;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
}
.krsa h6{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #F7F8F8;
    font-weight: 510;
    font-size: 15px;
    font-style: normal;
    margin-top: 10px;
}

.press {
    border: 2px solid peru;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;
    margin-top: 100px;
    align-items: center;
    border: none;
}

.press h5 {
    color: #F7F8F8;
    font-size: 24px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 510;
    font-style: normal;
}

.press a {
    color: #666A71;
    font-size: 15px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.press a:hover {
    color: white;
}

.cardc{
    border: 2px solid crimson;
    margin: auto;
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    border: none;
}
.ycomb{
    padding: 10px;
}
.ycombimg{
    border: 2px solid #1B1D1E;
    border-radius: 3px;
    border: none;

}
.ycombtext{
    color: #8A8F98;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
}
.ycomb h6{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #F7F8F8;
    font-weight: 510;
    font-size: 15px;
    font-style: normal;
    margin-top: 10px;
}
hr.ycombline{
    width: 1px;
    height: 230px;
    margin-top: 10px;
}

.aieng{
    padding: 10px;
}
.aiimg{
    border: 2px solid #1B1D1E;
    border-radius: 3px;

}
.aitext{
    color: #8A8F98;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
}
.aieng h6{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #F7F8F8;
    font-weight: 510;
    font-size: 15px;
    font-style: normal;
    margin-top: 10px;
}
hr.aiengline{
    width: 1px;
    height: 230px;
    margin-top: 10px;
}

.tech{
    padding: 10px;
}
.techimg{
    border: 2px solid #1B1D1E;
    border-radius: 3px;
    border: none;

}
.techtext{
    color: #8A8F98;
    font-size: 13px;
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
}
.tech h6{
    font-family: "Inter Variable", "SF Pro Display", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #F7F8F8;
    font-weight: 510;
    font-size: 15px;
    font-style: normal;
    margin-top: 10px;
}




